*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(251,207,149);
    background: linear-gradient(90deg, rgba(251,207,149,1) 0%, rgba(10,10,12,1) 100%);
}

.font-cursive{
    font-family: "Edu AU VIC WA NT Dots", cursive;
}


.nexuscakes{
    color: antiquewhite;
    background-color: black;
    width: 100%;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding:5px 0px ;
}


.nav-link{
    color: white;
    text-decoration: none;
    padding: 0px    5px;
}


.nav-link:hover{
    background-color: antiquewhite;
    color: black;
    font-weight: 700;
}


.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:20px;
}


.search-box{
    padding: 10px;
    border: none;
    width: 540px;
    outline: none;
    font-size: 13px;
    border-radius: 10px;
}


.search-box:focus{
    border: 3px solid antiquewhite;
}


.pick-container{
    width: 95%;
    height: auto;
    border: solid goldenrod 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #fff;
}


.pick-cake-img{
    border: 1px solid burlywood;
    border-width: 2;
    height: 350px;
    width: 100%;
    border-radius: 10px;
}


.row{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.pick-cake-title{
    text-align: center;
    font-size: 1.1rem;
    font-family: cursive;
}


.col-4{
    width: 24%;
    height: auto;
}


.cake-pick-link{
    text-decoration: none;
    color: #000;
}


.col-4:hover{
    transform: scale(1.1);
    background-color: #fff;
    box-shadow: 2px 2px 4px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
}


.pick-container-wrapper{
    width: 100%;
    height: auto;
    padding: 1rem 0;
}


.Flavour{
    font-family: cursive;
    margin: 1rem 0 0 1rem;
}
.banner-img-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.offerimage{
    width: 100%;
    height: 550px;
    border: #000 solid 2px;
    border-radius: 10px;
}

.offerimage:hover{
    transform: scale(1rem);
    background-color: #fff;
    box-shadow: 2px 2px 4px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.contact{
    font-family: cursive;
    margin: 1rem 0 0 1rem;
}

.registration{
    font-family: "Edu AU VIC WA NT Dots", cursive;
    background-color:#fbcf95;
    width: 50%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.w-50{
    width: 46%;
}
.w-100{
    width: 100%;
}
.mb-3{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.form-control{
    padding: 10px;
    border: none;
    border: 1px solid lightgray;
    font-size: 17px;
    border-radius: 5px;
}
.btn-submit{
    padding: 10px;
    border: none;
    background-color: #f2a643;
    border-radius: 5px;
    border: 1px solid #cd862a;
}
.footer-container{
    width: 100%;
    background-color: #000;
    height: 200px;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px 80px 20px 80px;
    gap: 400px;
    float: left;
}


ul{
    list-style: none;
}

h3{
    font-family: cursive;
    color: #fbcf95;
}

a{
    text-decoration: none;
    color:  white ;
}